<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>添加文章</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="javascripts/lib/rainbow/rainbow.css">
    <link href="https://cdn.bootcss.com/layer/3.1.0/theme/default/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/articleDetail.css">
</head>
<body>
<input type="hidden" id="article_id" value="">
<h2 id="title">HTTPS证书配置之单域名</h2>
<div id="content">
    <img src="/images/article/https/https.jpg" style="display: none">
    <p class="quote-block"><a href="/article/5af164da4fe9262f0f4465b3" class="link" target="_blank">上一篇</a>我们说到了SSL证书的申请，并且也得到了相应的证书文件，也就是一个xxxx.pem和一个xxxx.key两个文件，接下来我们就来说说怎么把这两个文件配置到我们的服务器上。服务器的类型有很多，接下来我主要就以NodeJs的服务器来说明。</p>
    <ul class="list">
        <li class="list-item">
            我们先来看一个简单的HTTP协议的Node服务的配置文件
            <pre>
                <code data-language="JavaScript" class="">
const http = require('http');
const path = require('path');
const express = require('express');

const app = express();
//首页的路由
app.get('/',function (req,res) {
    res.sendFile(path.join(__dirname,'/index.html'));
});
//ico图标
app.get('/favicon.ico',function (req,res) {
    res.sendFile(path.join(__dirname,'/favicon.ico'));
});

//配置静态文件的访问
app.use('/build', express.static(path.join(__dirname, 'build')));
//创建一个服务并监听80端口
http.createServer(app).listen(80);
                </code>
            </pre>
        </li>
        <li class="list-item">
            因为我们需要的是HTTPS的协议，不是HTTP的，所以我们就把上面的配置改成HTTPS的，Node也提供了对HTTTPS服务的支持，只需要将导入的HTTP模块换成HTTPS模块，然后将端口由80改成443（http协议默认端口是80，https协议默认端口是443，这里我们使用默认端口的好处就是可以通过ip或域名访问时省略端口的输入）,然后将证书配置给HTTPS模块就行了，修改如下
            <pre>
                <code data-language="JavaScript" class="">
//const http = require('http');
const https = require('https');
const path = require('path');
const express = require('express');

const app = express();
//配置SSL证书文件，请确保两个证书文件在根目录下的cert目录中，也可以放其他目录，需要对应修改下面的文件路径就行
const option = {
    key:fs.readFileSync('./cert/xxxx.key'),
    cert:fs.readFileSync('./cert/xxxx.pem')
}
//首页的路由
app.get('/',function (req,res) {
    res.sendFile(path.join(__dirname,'/index.html'));
});
//ico图标
app.get('/favicon.ico',function (req,res) {
    res.sendFile(path.join(__dirname,'/favicon.ico'));
});

//配置静态文件的访问
app.use('/build', express.static(path.join(__dirname, 'build')));
//创建一个服务并监听443端口
//http.createServer(app).listen(80);
https.createServer(option,app).listen(443);
                </code>
            </pre>
        </li>
        <li class="list-item">
            HTTPS配置和使用过程中可能出现的问题如下
            <div>
                1、如果我们直接使用HTTPS模块启动服务，没有配置xxxx.key和xxxx.pem文件，我们的页面将无法通过HTTPS协议来访问，如下图
                <img class="big-img" src="/images/article/https_single_domain/s_d_1.jpg" alt="证书配置">
            </div>
            <div>
                2、如果我们使用的xxxx.key和xxxx.pem文件的域名信息（我们在申请证书的时候是需要补全域名信息的）和我们当前的访问域名信息不相符或者证书过期的话（我们在申请证书时可以看到，免费证书的有效期是1年，过期后只需要重新申请就好了），我们的页面可以访问，但是会出现不安全的提示,比喻我们的证书申请的域名是blog.lixj.vip,然后我们将它配置到www.lixj.vip的域名上，结果如下图
                <img class="big-img" src="/images/article/https_single_domain/s_d_2.jpg" alt="证书配置">
            </div>
            <div>
                3、有时我们访问一些HTTPS协议的网站时，会提示“您的链接不是私密安全连接”（如下图），就是因为证书配置不正确或者证书过期的原因
                <img class="big-img" src="/images/article/https_single_domain/s_d_4.jpg" alt="证书配置">
            </div>
        </li>
        <li class="list-item">
            只要配置成功了，我们的站点就是HTTPS协议的了，别人在访问我们的站点时就不会再提示是不安全的了。最后来一个配置成功的效果图
            <img class="big-img" src="/images/article/https_single_domain/s_d_3.jpg" alt="证书配置">
        </li>
    </ul>
    <div>
        看起来是不是很简单，赶紧去奖自己的站点升级成HTTPS协议的吧！
    </div>
</div>
<button id="button">更新内容</button>
<script src="javascripts/lib/rainbow/rainbow-custom.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script>
    var title = document.getElementById('title').innerHTML;
    var content = document.getElementById('content').innerHTML;
    var articleId = document.getElementById('article_id').value;
    var data = {
        title:title,
        content:content
    }
    if(articleId){
        data._id = articleId;
    }
    $(function () {
        $('#button').on('click',function () {
            $.ajax({
                url:'/api/artcle/save',
                method:'POST',
                dataType:'json',
                data:data
            }).done(function(resp) {
                if(resp.code == 401){
                    layer.open({
                        title: '提示信息',
                        content: resp.message || '身份不合法，请重新登录后再试',
                        yes:function () {
                            location.href = '/login?cb='+location.href;
                        }
                    });
                }else if(resp.code == 0){
                    layer.open({
                        title: '提示信息',
                        content: resp.message || '操作成功',
                        yes:function () {
                            location.href = '/';
                        }
                    });
                }else {
                    layer.open({
                        title: '提示信息',
                        content: resp.message || '操作失败'
                    });
                }
            })
        });
    });
</script>
</body>
</html>