<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/javascripts/lib/rainbow/rainbow.css">
</head>
<body>
<h2><%= article.title %></h2>
<div><%- article.content %></div>
<script src="/javascripts/lib/rainbow/rainbow-custom.min.js"></script>
</body>
</html>