<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/javascripts/lib/rainbow/rainbow.css">
    <link rel="stylesheet" href="/stylesheets/articleDetail.css">
</head>
<body>
    <div class="page-content">
        <h2><%= article.title %></h2>
        <div><%- article.content %></div>
    </div>
    <script src="/javascripts/lib/rainbow/rainbow-custom.min.js"></script>
    <script>
        var width = document.body.clientWidth;
        if(width>900){
            document.body.className = 'is-pc';
        }
    </script>
</body>
</html>