<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>登录页</title>
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form class="login-form" id="login_form">
    <h2 class="form-title">登录</h2>
    <div id="error_msg" class="error-message"></div>
    <input id="cb_input" type="hidden" value="<%= cb %>" name="cb">
    <div class="form-item">
        <label for="user_name">用户名：</label>
        <input autocomplete="false" placeholder="请输入您的用户名" id="user_name" value="<%= cb %>" name="userName">
    </div>
    <div class="form-item">
        <label for="password">密码：</label>
        <input autocomplete="false" id="password" placeholder="请输入您的登录密码" type="password" value="<%= cb %>" name="password">
    </div>
    <div class="form-item button-box">
        <a href="javascript:;" id="login_button" class="login-btn">登录</a>
    </div>
    <p class="link-box"><a href="/register" class="link">没有账户？去注册</a></p>
</form>
<script src="/javascripts/common.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script src="/javascripts/login/login.js"></script>
</body>
</html>