<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>登录页</title>
</head>
<body>
<form id="login_form">
    <input id="cb_input" type="hidden" value="<%= cb %>" name="cb">
    用户名：<input type="text" name="userName"><br>
    密码：<input type="password" name="password">
    <button id="login_button" type="button">登录</button>
</form>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script>
    $(function () {
        var form = $('#login_form');
        $('#login_button').on('click',function (e) {
            e.preventDefault();
            var data = {};
            var formData = form.serializeArray();
            $.each(formData, function() {
                data[this.name] = this.value;
            });

            $.ajax({
                url:'/api/user/login',
                method:'post',
                dataType:'json',
                data:data,
                success:function (result) {
                    console.log(result);
                }
            })
        })
    });
</script>
</body>
</html>