<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>注册页</title>
</head>
<body>
<form action="/user/register" method="post">
    用户名:<input name="userName"><br>
    密码：<input type="password" name="password"><br>
    重复密码：<input type="text" name="repassword"><br>
    邮箱：<input type="email" name="email"><br>
    性别：男<input type="radio" name="sex" value="1">
    女<input type="radio" name="sex" value="2"> <br>
    <button type="submit">提交</button>
</form>
</body>
</html>