html{
    font-family: PingFangSC,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
    line-height: 1.6;
}
html *{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h2{
    text-align: center;
}
p{
    text-indent: 2em;
}
.quote-block{
    padding: 0 5px;
    border-left: 4px solid #7db7e6;
    background: #dbedf9;
}
.page-content{
    max-width: 900px;
    margin: 0 auto;
    padding: 8px;
}
img{
    margin: 5px auto;
    display: block;
    max-width: 100%;
}