*{
    box-sizing: border-box;
}
html{
    font-family: PingFangSC,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
    font-size: 14px;
}
html,body{
    height: 100%;
}
body{
    background-color: #143e77;
}
.is-pc{
    position: relative;
}
.is-pc:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/images/login/login-bg.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: .3;
}

::-webkit-input-placeholder{
    color:#ccc !important;
}
::-moz-placeholder{
    color:#ccc !important;
}
:-ms-input-placeholder{
    color:#ccc !important;
}
::input-placeholder{
    color:#ccc !important;
}
.page-form{
    border: 2px solid #fff;
    border-color: rgba(255,255,255,.3);
    color: #fff;
    width: 450px;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    padding: 50px;
    border-radius: 20px;
    font-size: 18px;
}

.page-form h2{
    text-align: center;
    margin: 0;
}
.form-title{
    font-size: 50px;
}
.form-item{
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    border-color: rgba(255,255,255,.6);
}
.error-message{
    height: 35px;
    text-align: center;
    padding-top: 15px;
    opacity: 0;
    color: red;
    transition: opacity 1s;
}
.has-error .error-message{
    opacity: 1;
}
.form-item .item-lable{
    width: 90px;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}
.form-item .input{
    width: 250px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.button-box{
    text-align: center;
    border-bottom: none;
    margin-bottom: 0;
}
.login-btn{
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #fff;
    letter-spacing: .5em;
    text-decoration: none;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,.6);
    padding: 10px 0;
    border-radius: 30px;
    overflow: hidden;
    transition: all .6s;
}
.login-btn:hover{
    border-color: rgba(15,155,241,.6);
}
.login-btn:before{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 0;
    opacity: 0;
    background-color: rgba(15,155,241,1);
    transition: all .6s;
    z-index: -1;
}
.login-btn:hover:before{
    width: 100%;
    opacity: .5;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent
    }
}

.form-item input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both
}
.link-box{
    margin: 10px 0 0 0;
    text-align: right;
}
.link-box .link{
    color: #fff;
    text-decoration: none;
    transition: color 1s;
}
.link-box .link:hover{
    color: rgba(15,155,241,.6);
}

.login-form{
    margin-top: -233px;
}
.register-form{
    padding: 30px 50px;
    margin-top: -330px;
}
.register-form .form-item{
    margin-bottom: 10px;
    padding: 15px 0;
}
.form-item input[type="radio"]{
    display: none;
}

.radio + label {
    cursor: pointer;
    margin-right: 20px;
    vertical-align: text-top;
    -webkit-appearance: none;
    background-color: rgba(250,250,250,.2);
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.radio:checked + label {
    background-color: rgba(250,250,250,.8);
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}