/*.panel{*/
    /*padding: 20px;*/
/*}*/
.page-content .panel{
    flex: 1;
    margin: 0;
    padding: 20px;
}
table th{
    text-align: center;
}
.panel>.table-bordered{
    border: 1px solid #ddd;
}
