<div class="sub-left-menu scroll">
    <ul class="nav nav-list">
        <li><div class="left-bg"></div></li>
        <li class="time">
            <h1 class="animated fadeInLeft">00:00</h1>
            <p class="animated fadeInRight"></p>
        </li>
        <li class="active ripple">
            <a class="tree-toggle nav-header"><span class="fa-users fa"></span> 用戶信息
                <span class="fa-angle-right fa right-arrow text-right"></span>
            </a>
            <ul class="nav nav-list tree">
                <li><a href="dashboard-v1.html">个人信息</a></li>
                <% if(user.userType===1){ %>
                <li><a href="/userlist">用户列表</a></li>
                <% } %>
            </ul>
        </li>
        <li class="ripple">
            <a class="tree-toggle nav-header">
                <span class="fa-tags fa"></span> 分类信息
                <span class="fa-angle-right fa right-arrow text-right"></span>
            </a>
            <ul class="nav nav-list tree">
                <% if(user.userType===1){ %>
                <li><a href="topnav.html">添加分类</a></li>
                <% } %>
                <li><a href="boxed.html">分类列表</a></li>
            </ul>
        </li>
        <li class="ripple"><a class="tree-toggle nav-header">
            <span class="fa fa-book"></span> 文章版块
            <span class="fa-angle-right fa right-arrow text-right"></span> </a>
            <ul class="nav nav-list tree">
                <li><a href="color.html">文章列表</a></li>
            </ul>
        </li>
    </ul>
</div>